<div class="container mt-5">
  <h2>Login</h2>
  <form (ngSubmit)="login()">
    <div class="mb-3">
      <label for="userName" class="form-label">Username</label>
      <input type="text" id="userName" class="form-control" [(ngModel)]="email" name="email" required>
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" id="password" class="form-control" [(ngModel)]="password" name="password" required>
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
    <p class="text-danger mt-2">{{ errorMessage }}</p>
  </form>
</div>
