.time-block {
    min-width: 100px; /* Garde une bonne largeur minimale */
  }
  
  .card {
    border: none;
  }
  
  .card-body {
    padding: 1.5rem;
  }
  .card {
    border: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Animation douce */
  }
  
  .card:hover {
    transform: translateY(-5px); /* Bouge la carte vers le haut */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15); /* Ajoute une ombre plus forte */
  }
  